@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-head: var(--font-montserrat);
  --font-text: var(--font-inter);
  --color-mainbrown: #3d2814;
  --color-darkbrown: #1b1006;
  --color-offwhite: #EAE4D0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('../assets/anime-kitchen-bg.png');
  background-size: cover;         /* Scale the image to cover the entire container */
  background-position: center;    
  background-repeat: no-repeat;   
  color: var(--foreground);
  height: 100vh;
}
